.container {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 50px auto;
}
  
@media only screen and (max-width: 770px) {
    .container {
        width: 100%;
        margin: 25px auto 100px;
    }
}